# ------------------------------
# Игнорировать системные и временные файлы
# ------------------------------
# Mac
.DS_Store

# Linux
*~

# IDE / редакторы
.vscode/
.idea/
*.swp

# C++ / Python временные файлы
*.o
*.obj
*.exe
*.out
__pycache__/
*.pyc

# Jupyter временные файлы
.ipynb_checkpoints/

# ------------------------------
# Не игнорировать важные файлы
# ------------------------------
# C++ проект, Python, Jupyter
!*.cpp
!*.h
!*.py
!*.ipynb

# Документы
!*.md
!*.txt

